{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">The CALLector website</h1>
  <p class="lead">A platform for building interactive spoken dialogue CALL applications.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'result_processor' %}" role="button">Process Result</a>
  </p>
</div>
{% endblock %}