{% extends 'base.html' %}

{% block content %}
    <h1>New result</h1>
    <form action="processResult" method="post">{% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-success ml-2" type="submit">Process</button>
    </form>
{% endblock %}